#game-canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.photo {
  position: fixed;
  z-index: -1;
  padding-left: 4em;
  width: 80%
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  padding-left: 2em;
  color: white;
  font-family: 'Lemonada', cursive;
}

.fly-title {
  display: flex;
  justify-content: center;
  font-family: 'Lemonada', cursive;
  color: white;
  font-size: 38px;
}

body {
  background-color: black;
  font-family: 'Lemonada', cursive;
}

#top-instructions {
  color: white;
  display: flex;
  justify-content: space-around;
  font-family: 'Lemonada', cursive;
  padding-top: 1em;
}

.instructions {
  list-style: none;
  color: white;
  display: flex;
  justify-content: space-around;
  font-family: 'Lemonada', cursive;
}

#usernameModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#enter-username {
  display: inline;
}

#usernameInput {
  margin-left: 4px;
  margin-right: 4px;
}

#second-instructions {
  color: white;
  display: flex;
  justify-content: space-around;
  font-family: 'Lemonada', cursive;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 12px;
    border: 1px solid #888;
    width: 38%;
}
